<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="./icons/css/all.css" type="text/css" media="all" />
    <!-- Bootstrap -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
	<!-- Bootstrap -->
    <title> Easy Trips </title>
</head>

<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> Easy Trips </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/destino"> Destinos </a>
                    </li>
                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-expanded="false">
							Promoções
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="/promonacional"> Pacotes Nacionais </a></li>
							<li><a class="dropdown-item" href="/promoint"> Pacotes Internacionais </a></li>
							<li>
								<hr class="dropdown-divider">
							</li>
							<li><a class="dropdown-item" href="/destino"> Ver tudo </a></li>
						</ul>
					</li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contato"> Contato </a>
                    </li>
                    <li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
							data-toggle="dropdown" aria-expanded="false">
							Acesso
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li><a class="dropdown-item" href="#"> Usuário </a></li>
							<li><a class="dropdown-item" href="/admin"> Administrador </a></li>
						</ul>
					</li>
            </div>
        </div>
    </nav>
    <!-- Fim navbar -->
    <!-- Inicio cards -->
    <section class="pt-3 pb-3">
        <div class="row justify-content-evenly">
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/bonito card" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bonito</h5>
                    <p class="card-text">3 diárias + café da manhã por apenas <b>R$1.200</b></p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/bahia.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Bahia</h5>
                    <p class="card-text">5 diárias + café da manhã + aéreo: <s>R$2.500</s> <b>R$1.999</b></p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/gramado.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gramado</h5>
                    <p class="card-text">4 diárias + café da manhã + passeio incluso:
                        <s>R$850</s> <B>R$650</B>
                    </p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
        </div>
        <div class="row pt-3 justify-content-evenly">
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/maceio.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Maceió</h5>
                    <p class="card-text">6 diárias + café da manhã + aéreo: <b>R$2.100</b></p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/carrossel fortaleza.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Fortaleza</h5>
                    <p class="card-text">6 diárias + café da manhã + aéreo: <b>R$2.500</b></p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
            <div class="card pt-2" style="width: 18rem; background-color:#fda403;">
                <img src="./img/rio de janeiro.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Rio de Janeiro</h5>
                    <p class="card-text">5 diárias + áereo: <B>R$730</B></p>
                    <a href="#" class="btn d-flex" style="background-color:#e8751a;">Comprar</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer bottom">
        <div class="container">
            <br>
            <div class="row">
                <div class="col-lg-4 col-sm-12">
                    <h6><i class="fa-solid fa-building-columns"></i>
                        Institucional
                    </h6>
                    <ul style="list-style: none;">
                        <li><a href="" class="list"> Trabalhe conosco</a></li>
                        <li><a href="" class="list"> Tire sua dúvida</a></li>
                        <li><a href="" class="list"> Termos e condições</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12">
                    <h6><i class="fa-solid fa-cart-shopping"></i>
                        Formas de pagamento
                    </h6>
                    <ul style="list-style: none;">
                        <li><i class="fa-solid fa-credit-card"></i> Cartão de crédito </li>
                        <li><i class="fa-solid fa-file-invoice"></i> Boleto </li>
                        <li><i class="fa-brands fa-pix"></i> Pix </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-12 ">
                    <h6>
                        <i class="fa-solid fa-globe"></i>
                        Nos siga nas redes
                    </h6>
                    <ul style="list-style: none;">
                        <li><i class="fa-brands fa-facebook-f"></i><a href="..." class="list"> Facebook </a></li>
                        <li><i class="fa-brands fa-instagram"></i><a href="..." class="list"> Instagram </a></li>
                        <li><i class="fa-brands fa-whatsapp"></i><a href="..." class="list"> Whatsapp </a></li>
                    </ul>
                </div>
            </div>
        </div>

        </div>

    </footer>



    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>
