#navbar {
    background-color: #e8751a;
}
#navBuscar {
    background-color: #e8751a;
}
#sub{
    background-color: #e8751a;
}

#btnCadastro{
    background-color: #e8751a;
}

.footer {
    background-color: #fda403;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0px;
}