#navbar {
    background-color: #e8751a;
}

#buscar {
    background-color: #e8751a;
}

.footer {
    background-color: #fda403;
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
}

.list {
    text-decoration: none;
    color: rgb(161, 161, 161);
}