#navbar {
    background-color: #e8751a;
}

#navBuscar {
    background-color: #e8751a;
}

#linha1 {
    background-color: whitesmoke;
}

#linha2 {
    background-color: whitesmoke;
}

.card-img-top {
height: 12rem;
}

.card.pt-2 {
    background-color: #fda403;
}

.card-title {
    color: black;
}

.card-text {
    color: black;
}

.footer {
    background-color: #fda403;
    color: white;
    position: relative;
}

.list {
    text-decoration: none;
    color: rgb(161, 161, 161);
}

