#navbar {
    background-color: #e8751a;
}

#navBuscar {
    background-color: #e8751a;
}

section {
    background-color: whitesmoke;
}

.card-img-top {
    height: 12rem;
    }

.btn {
    justify-content: center;
}

.footer {
    background-color: #fda403;
    color: white;
    position: relative;
}

.list {
    text-decoration: none;
    color: rgb(161, 161, 161);
}
