<!DOCTYPE html>
<html lang="pt-br">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

	<title>Cadastrar novo Pacote</title>
</head>

<body>
	<header class="header">
			<h1 class="text-center" style=background-color:#FFA500>
				<img src="https://img.icons8.com/external-flaticons-lineal-color-flat-icons/64/000000/external-trip-vacation-planning-flaticons-lineal-color-flat-icons.png"/>Easytrips
			</h1>
		</header>

		<ul class="nav justify-content-center">
			<li class="nav-item"><a class="nav-link active"
				aria-current="page" href="/">Home</a></li>
			<li class="nav-item"><a class="nav-link" href="/clientes">Clientes</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/compras">Compras</a></li>
			<li class="nav-item"><a class="nav-link" href="/destinos">Destinos</a></li>
			<li class="nav-item"><a class="nav-link" href="/hoteis">Hotéis</a></li>
			<li class="nav-item"><a class="nav-link" href="/login">Permissões/Login</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="/pacotes">Pacotes de
					Viagem</a></li>
		</ul>

	<main class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Cadastrar novo pacote</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12">
				<form method="POST" th:object="${pacotes}" enctype="multipart/form-data">
					<div class="mb-3">
						<label for="destino" class="form-label">ID Destino</label>
						<input type="text" class="form-control" id="destino" th:field="*{destino.id_destino}">
					</div>
					<div class="mb-3">
						<label for="hotel" class="form-label">Hospedagem</label>
						<input type="text" class="form-control" id="hotel" th:field="*{hotel.id_hotel}">
					</div>
					<div class="mb-3">
						<label for="valor_pacote" class="form-label">Valor do pacote: R$</label>
						<input type="number" class="form-control" id="valor_pacote" th:field="*{valor_pacote}">
					</div>
					<div class="mb-3">
						<label for="promo" class="form-label">Promoção disponível</label>
						<input type="text" class="form-control" id="promo" th:field="*{promo}">
					</div>
					<br>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</form>
			</div>
		</div>
	</main>


	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
</body>

</html>